.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-layout__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left var(--transition-normal);
}

@media (min-width: 1200px) {
  .main-layout__content--sidebar-open {
    margin-left: 280px;
  }
}